.mb-box{
     width: 65%; 
    padding:120px;
    border-radius: 15px;
    border: 2px solid hsla(0, 0%, 85%, 1);
    margin: 0 auto;
    background-color: rgb(217, 217, 217);
}
.logout{
    text-decoration: none;
    border: none;
    background-color:rgba(255, 0, 0, 0.87);
    padding: 5px;
    width: 35%;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}
.order{
    text-decoration: none;
    border: none;
    padding: 5px;
    width: 15%;
    border-radius: 10px;
    margin-bottom: 15px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 25px;
}
.order:hover{
    background-color: gray;
}